.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sales {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.sales td, .sales th {
  border: 1px solid #ddd;
  padding: 8px;
}

.sales tr:nth-child(even){
  background-color: #f2f2f2;
}

.sales tr:hover {
  background-color: #ddd;
}

.sales th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.sales-control {
  padding-top: 12px;
  padding-bottom: 12px;
}

.sales-control span {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.sales-control #submit {
  margin-left: 20px;
  padding: 12px 22px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sales-control #textInput {
  margin-left: 20px;
  padding: 12px 22px;
  border: dotted;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
